/* Login */
#main{
    min-height: 100vh;
    height: 100%;
    background-color: #333;
    background-image: url("../assets/Triangle Abstract Black Background Vector.svg");
}

.main-container{
    min-height: inherit;
}

.login-panel{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
}

.login-panel > p{
    color: #333;
}
/* End Login */

/* Profile */


.profile-userId > img{
    width: 175px;
    border-radius: 4px; 
    border: 5px solid #ddd;
    box-shadow: 3px 3px 6px rgba(50, 50, 50, 0.3);
}
.profile-userId > div{
    padding: 8px 20px;    
}

/* End Profile */

/* FONTS */
@font-face{
    font-family: 'coolvetica-rg';
    src: url("../fonts/coolvetica rg.ttf");
}

@font-face{
    font-family: 'techno-hideo';
    src: url("../fonts/techno_hideo.ttf");    
}

@font-face{
    font-family: 'techno-hideo-bold';
    src: url("../fonts/techno_hideo_bold.ttf");
}

@font-face{
    font-family: 'chasing-rabbits';
    src: url("../fonts/Chasing Rabbits.otf");
}

.techno-hideo{
    font-family: 'techno-hideo';
    font-weight: initial;
}

.techno-hideo-bold{
    font-family: 'techno-hideo-bold';
}

.chasing-rabbits{
    font-family: 'chasing-rabbits';
}

.coolvetica-rg{
    font-family: 'coolvetica-rg';
}
