@{
    ViewBag.Title = "Erro 404";
    Layout = "_LayoutIndex"; 
}

<h1 class="uk-text-danger">Página não encontrada.</h1>
<div class="uk-text-left">
    <p class="uk-text-danger">A página que você esta tentando acessar não existe.</p>
</div>

