@{
    ViewBag.Title = "Erro";
    Layout = "_LayoutIndex"; 
}

<h1 class="uk-text-danger">Erro Interno.</h1>
<div class="uk-text-left">
    <p class="uk-text-danger">Algum erro ocorreu durante o processamento da requisição.</p>

    <h3>Nos ajude</h3>
    <p>Entre em contato com o administrador e relate o ocorrido. <strong>leonardo_bevilacqua@hotmail.com</strong>.</p>
    <p>Obrigado pela compreensão.</p>
</div>

