@model AccountViewModel 
@{ Layout = "_LayoutIndex"; }

<h3 class="uk-heading-line uk-text-center coolvetica-rg">
    <span>Conectar em sua conta</span>
</h3>

@{await Html.RenderPartialAsync("LogInPartial", Model.Login); }

<p class="uk-margin-medium-top">É novo por aqui viajante?
    <a href="#modal-account" data-uk-toggle>Crie sua conta aqui</a>
</p>


@section Modals{ 
    @{await Html.RenderPartialAsync("SignUpPartial", Model.SignUp);}
    @{await Html.RenderPartialAsync("PasswordRecoverPartial");}
}