<!-- password recover modal -->

    <div id="modal-password" class="uk-modal-container" data-uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" data-uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-lead coolvetica-rg">Recupere sua senha</h2>
            </div>
            <div class="uk-modal-body">
                <!-- cyg.com/users/passwordRecover -->
                <form action="users/passwordRecover" method="post" id="passwordRecover" class="uk-form-stacked uk-margin-large">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="email">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="emailRecover" name="emailRecover" type="email" placeholder="email@email.com" data-validation="required email">
                        </div>
                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-text-left uk-flex">
                <button class="uk-button uk-button-default uk-modal-close uk-width-1-2@m" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary uk-width-1-2@m" type="button">Enviar</button>
            </div>
        </div>
    </div>

    <!-- end password recover modal -->