@{ Layout = "_LayoutIndex"; }
<h3 class="uk-heading-line uk-text-center coolvetica-rg">
    <span>Recuperar senha</span>
</h3>

<form asp-controller="Home" asp-action="ResetPassword" id="ResetPassword" class="uk-text-left">
    <input type="hidden" value="@ViewBag.token" name="token"/>
    <div class="uk-margin">
        <input class="uk-input" id="email" name="email" type="email" placeholder="Confirme seu E-Mail" data-validation="required strength" data-validation="required">
    </div>
    <div class="uk-margin">
        <input class="uk-input" id="password_confirmation" name="password_confirmation" type="password" placeholder="Nova Senha" data-validation="required strength" data-validation-strength="2">
    </div>

    <div class="uk-margin">
        <input class="uk-input" id="password" name="password" type="password" placeholder="Confirmar Senha" data-validation="required confirmation">
    </div>

    <div class="uk-margin">
        <button class="uk-button uk-button-primary uk-width-1-1" type="submit">Alterar</button>
    </div>
</form>