<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Criar Blog - CYG</title>
    <link rel="stylesheet" href="../stylesheets/uikit.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />

    <script src="../scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <!-- NAV -->
    <div data-uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <nav class="uk-navbar-container nav-responsive" data-uk-navbar>
            <div class="uk-navbar-left">
                <ul class="uk-navbar-nav">
                    <li class="nav-responsive-toggle">
                        <a class="uk-navbar-toggle" data-uk-navbar-toggle-icon href="#" data-uk-toggle="target: #offcanvas-push"></a>
                    </li>
                    <li class="uk-parent">
                        <a href="main.html">
                            <span data-uk-icon="home"></span> Inicio</a>
                    </li>
                    <li class="uk-parent">
                        <a href="profile.html">
                            <span data-uk-icon="user"></span> Meu perfil</a>
                    </li>
                </ul>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li class="uk-parent" id="search">
                        <div class="uk-margin">
                            <div class="uk-inline">
                                <span class="uk-form-icon" data-uk-icon="icon:  search"></span>
                                <input class="uk-input uk-form-blank" type="text">
                            </div>
                        </div>
                    </li>
                    <li class="uk-parent">
                        <a href="config.html">
                            <span data-uk-icon="cog"></span> Configurações</a>
                    </li>
                    <li class="uk-parent">
                        <a href="index.html">
                            <span data-uk-icon="sign-out"></span> Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="offcanvas-push" data-uk-offcanvas="mode: slide; overlay: true">
        <div class="uk-offcanvas-bar uk-width-1-1">
            <button class="uk-offcanvas-close" type="button" data-uk-close></button>
            <div class="uk-width-1-2@s uk-width-2-5@m">
                <ul class="uk-nav uk-nav-default">
                    <li>
                        <a href="main.html">
                            <span data-uk-icon="home"></span> Inicio</a>
                    </li>
                    <li>
                        <a href="profile.html">
                            <span data-uk-icon="user"></span> Meu perfil</a>
                    </li>
                    <li>
                        <a href="config.html">
                            <span data-uk-icon="cog"></span> Configurações</a>
                    </li>
                    <li>
                        <a href="index.html">
                            <span data-uk-icon="sign-out"></span> Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END NAV -->
    <div id="main" class="uk-background-cover uk-background-muted">
        <div class="uk-container uk-padding">
            <!-- Create a tag that we will use as the editable area. -->
            <!-- You can use a div tag as well. -->
            <!-- cyg.com/blogs/create POST -->
            <form action="create" method="post" class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="Title">Título</label>
                    <input type="text" class="uk-input" id="Title" name="Title">
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="Description">Assunto do blog</label>
                    <textarea class="uk-textarea" id="Description" name="Description"></textarea>
                </div>
                <div class="uk-margin">
                    <label class="uk-form-label" for="BlogText">Blog</label>
                    <textarea id="BlogText" name="BlogText"></textarea>
                </div>
            </form>
            <button class="uk-button uk-button-primary" id="enviar" type="submit">enviar</button>
        </div>
    </div>
    <script src="../scripts/uikit.min.js"></script>
    <script src="../scripts/uikit-icons.min.js"></script>
    <script src="../scripts/tinymce/tinymce.min.js"></script>
    <script src="../scripts/tinymce/langs/pt_BR.js"></script>
    <script>
        tinymce.init({
            selector: '#blogText',
            language: 'pt_BR',
            plugins: [
                "advlist autolink autosave link image lists charmap preview hr anchor pagebreak",
                "searchreplace wordcount visualblocks visualchars code insertdatetime media nonbreaking",
                " contextmenu directionality emoticons textcolor paste textcolor colorpicker textpattern"
            ],
            toolbar1: "bold italic underline strikethrough | alignleft aligncenter alignright alignjustify | formatselect fontselect fontsizeselect",
            toolbar2: "cut copy paste | searchreplace | bullist numlist | outdent indent blockquote | undo redo | link unlink anchor image media code | insertdatetime preview | forecolor backcolor",
            toolbar3: "hr removeformat | subscript superscript | charmap emoticons | ltr rtl | visualchars visualblocks nonbreaking pagebreak restoredraft",
            content_css: [
                '//fonts.googleapis.com/css?family=Lato:300,300i,400,400i',
                '//www.tinymce.com/css/codepen.min.css'],
            menubar: false,
            toolbar_items_size: 'small',
            // enable title field in the Image dialog
            image_title: true,
            // enable automatic uploads of images represented by blob or data URIs
            automatic_uploads: true,
            // URL of our upload handler (for more details check: https://www.tinymce.com/docs/configure/file-image-upload/#images_upload_url)
            // images_upload_url: 'postAcceptor.php',
            // here we add custom filepicker only to Image dialog
            file_picker_types: 'image',
            // and here's our custom image picker
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');

                // Note: In modern browsers input[type="file"] is functional without 
                // even adding it to the DOM, but that might not be the case in some older
                // or quirky browsers like IE, so you might want to add it to the DOM
                // just in case, and visually hide it. And do not forget do remove it
                // once you do not need it anymore.

                input.onchange = function () {
                    var file = this.files[0];

                    var reader = new FileReader();
                    reader.onload = function () {
                        // Note: Now we need to register the blob in TinyMCEs image blob
                        // registry. In the next release this part hopefully won't be
                        // necessary, as we are looking to handle it internally.
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);

                        // call the callback and populate the Title field with the file name
                        cb(blobInfo.blobUri(), { title: file.name });
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            },
            video_template_callback: function (data) {
                return '<video width="' + data.width + '" height="' + data.height + '"' + (data.poster ? ' poster="' + data.poster + '"' : '') + ' controls="controls">\n' + '<source src="' + data.source1 + '"' + (data.source1mime ? ' type="' + data.source1mime + '"' : '') + ' />\n' + (data.source2 ? '<source src="' + data.source2 + '"' + (data.source2mime ? ' type="' + data.source2mime + '"' : '') + ' />\n' : '') + '</video>';
            }
        });

        $("#enviar").click(function(){
            var html = tinymce.get('blogText').getContent();
            alert(html);
        });
    </script>
</body>

</html>
