<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Choose Your Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/uikit.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../scripts/uikit.min.js"></script>
    <script src="../scripts/uikit-icons.min.js"></script>
</head>

<body>
    <div id="main" class="uk-background-cover">
        <div class="uk-container uk-container-expand uk-flex uk-text-center main-container uk-flex-wrap">
            <div class="uk-margin-auto uk-flex-row uk-width-3-4 uk-light">
                <h1 class="uk-heading-line uk-text-center">
                    <span>Bem vindo ao Choose Your Game</span>
                </h1>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda sit, inventore temporibus aliquid reprehenderit est obcaecati
                    provident deleniti libero quisquam at maiores, corporis officiis fugiat, rerum iure quaerat enim tempore?
                </p>
            </div>

            <div class="uk-margin-auto uk-margin-auto-vertical uk-flex-row uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
                <div class="uk-card uk-card-default uk-card-body login-panel">
                    <h3 class="uk-heading-line uk-text-center">
                        <span>Conectar em sua conta</span>
                    </h3>
                    <form action="signin" id="signin">
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Username">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" type="password" placeholder="Senha">
                        </div>

                        <div class="uk-margin-auto-left uk-text-left">
                            <a href="#modal-password" uk-toggle>Esqueceu sua senha?</a>
                        </div>

                        <div class="uk-margin">
                            <button class="uk-button uk-button-primary uk-width-1-1">Entrar</button>
                        </div>
                    </form>

                    <p class="uk-margin-medium-top">É novo por aqui viajante?
                        <a href="#modal-account" uk-toggle>Crie sua conta aqui</a>
                    </p>

                </div>

                <div class="uk-margin-top">
                    <p class="uk-text-meta uk-light">&copy;COPYRIGHT 2018 - LEONARDO A. BEVILACQUA, TODOS OS DIREITOS RESERVADOS.</p>
                </div>

            </div>
        </div>
    </div>

    <!-- create account modal-->

    <div id="modal-account" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-lead">Crie sua conta</h2>
            </div>
            <div class="uk-modal-body">
                <form action="signup" method="post" id="signup" class="uk-form-stacked uk-margin-large">

                    <div class="uk-child-width-expand@m uk-grid" uk-grid>
                        <div>
                            <label class="uk-form-label" for="name">Nome</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="name" type="text" placeholder="Roberto">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="lastname">Sobrenome</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="lastname" type="text" placeholder="Silva">
                            </div>
                        </div>

                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="email">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="email" type="email" placeholder="email@email.com">
                        </div>
                    </div>

                    <div class="uk-child-width-expand@s uk-grid" uk-grid>
                        <div>
                            <label class="uk-form-label" for="username">Nome de usuário</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="username" type="text" placeholder="XXXXXXX">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="password">Senha</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="password" type="password" placeholder="********">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="repassword">Confirme a senha</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="repassword" type="password" placeholder="********">
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-text-left uk-flex">
                <button class="uk-button uk-button-default uk-modal-close uk-width-1-2@m" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary uk-width-1-2@m" type="button">Criar conta</button>
            </div>
        </div>
    </div>
    <!-- end create account modal-->

    <!-- password recover modal -->

    <div id="modal-password" class="uk-modal-container" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-lead">Recupere sua senha</h2>
            </div>
            <div class="uk-modal-body">
                <form action="passwordRecover" method="post" id="passwordRecover" class="uk-form-stacked uk-margin-large">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="email">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="emailRecover" type="email" placeholder="email@email.com">
                        </div>
                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-text-left uk-flex">
                <button class="uk-button uk-button-default uk-modal-close uk-width-1-2@m" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary uk-width-1-2@m" type="button">Enviar</button>
            </div>
        </div>
    </div>

    <!-- end password recover modal -->

</body>

</html>
