<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <title>Choose Your Game</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../stylesheets/uikit.min.css" />
    <link rel="stylesheet" href="../stylesheets/style.css" />
    <script src="../scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <main id="main" class="uk-background-cover login-main">
        <div class="uk-container uk-container-expand uk-flex uk-flex-wrap uk-text-center login-container">
            <div class="uk-margin-auto uk-flex-row uk-width-3-4 uk-light">
                <h1 class="uk-heading-line uk-text-center chasing-rabbits">
                    <span>Choose Your Game</span>
                </h1>
            </div>

            <div class="uk-margin-auto uk-margin-auto-vertical uk-flex-row uk-width-1-1@s uk-width-1-2@m uk-width-1-3@l">
                <div class="uk-card uk-card-default uk-card-body login-panel">
                    <h3 class="uk-heading-line uk-text-center coolvetica-rg">
                        <span>Conectar em sua conta</span>
                    </h3>
                        <!-- cyg.com/users/signin -->
                    <form action="users/signin" id="signin" class="uk-text-left">
                        <div class="uk-margin">
                            <input class="uk-input" id="loginUsername" name="loginUsername" type="text" placeholder="Username" data-validation="required">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" id="loginPassword" name="loginPassword" type="password" placeholder="Senha" data-validation="required">
                        </div>

                        <div class="uk-margin">
                            <a href="#modal-password" data-uk-toggle>Esqueceu sua senha?</a>
                        </div>

                        <div class="uk-margin">
                            <!-- <button class="uk-button uk-button-primary uk-width-1-1">Entrar</button> -->
                            <a href="main.html" class="uk-button uk-button-primary uk-width-1-1">Entrar</a>
                        </div>
                    </form>

                    <p class="uk-margin-medium-top">É novo por aqui viajante?
                        <a href="#modal-account" data-uk-toggle>Crie sua conta aqui</a>
                    </p>

                </div>

                <div class="uk-margin-top">
                    <p class="uk-text-meta uk-light coolvetica-rg">&copy; COPYRIGHT 2018 - LEONARDO A. BEVILACQUA, TODOS OS DIREITOS RESERVADOS.</p>
                </div>

            </div>
        </div>
    </main>

    <!-- create account modal-->

    <div id="modal-account" class="uk-modal-container" data-uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" data-uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-lead coolvetica-rg">Crie sua conta</h2>
            </div>
            <div class="uk-modal-body">
                <!-- cyw.com/users/signup -->
                <form action="/users/signup" method="post" id="signup" class="uk-form-stacked uk-margin-large">

                    <div class="uk-child-width-expand@m uk-grid" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="Name">Nome</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="Name" name="Name" type="text" placeholder="Roberto" data-validation="required">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="Lastname">Sobrenome</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="Lastname" name="Lastname" type="text" placeholder="Silva" data-validation="required">
                            </div>
                        </div>

                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="EMail">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="EMail" name="EMail" type="email" placeholder="Email@email.com" data-validation="required email">
                        </div>
                    </div>

                    <div class="uk-child-width-expand@s uk-grid" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="Username">Nome de usuário</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="Username" name="Username" type="text" placeholder="XXXXXXX"
                                    data-validation="required length alphanumeric" data-validation-length="3-12" 
                                    data-validation-error-msg="Nome de usuário deve ser um valor alfanumericos, de tamanho 3-12 caracteres">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="password_confirmation">Senha</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="password_confirmation" name="password_confirmation" 
                                    type="password" placeholder="********" data-validation="required strength" data-validation-strength="2">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="password">Confirme a senha</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="password" name="password" type="password" placeholder="********" data-validation="required confirmation">
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-text-left uk-flex">
                <button class="uk-button uk-button-default uk-modal-close uk-width-1-2@m" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary uk-width-1-2@m" type="button">Criar conta</button>
            </div>
        </div>
    </div>
    <!-- end create account modal-->

    <!-- password recover modal -->

    <div id="modal-password" class="uk-modal-container" data-uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" data-uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-lead coolvetica-rg">Recupere sua senha</h2>
            </div>
            <div class="uk-modal-body">
                <!-- cyg.com/users/passwordRecover -->
                <form action="users/passwordRecover" method="post" id="passwordRecover" class="uk-form-stacked uk-margin-large">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="email">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="emailRecover" name="emailRecover" type="email" placeholder="email@email.com" data-validation="required email">
                        </div>
                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-text-left uk-flex">
                <button class="uk-button uk-button-default uk-modal-close uk-width-1-2@m" type="button">Cancelar</button>
                <!-- <button class="uk-button uk-button-primary uk-width-1-2@m" type="button">Enviar</button> -->
                <a href="resetPassword.html" class="uk-button uk-button-primary uk-width-1-2@m" type="button">Enviar</a>
            </div>
        </div>
    </div>

    <!-- end password recover modal -->

    <script src="../scripts/uikit.min.js"></script>
    <script src="../scripts/uikit-icons.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
    <script src="../scripts/script.js"></script>
</body>

</html>
