<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main - CYG</title>
    <link rel="stylesheet" href="~/lib/uikit/css/uikit.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/lib/jquery-3.3.1.min.js"></script>
</head>

<body>
   @Html.Partial("NavigationPartial")
    <div id="main" class="uk-background-cover uk-background-muted">
        @RenderBody()
    </div>
    <script src="~/lib/uikit/js/uikit.min.js"></script>
    <script src="~/lib/uikit/js/uikit-icons.min.js"></script>
    @RenderSection("Scripts", required : false)
</body>

</html>