<!-- create account modal-->

    <div id="modal-account" class="uk-modal-container" data-uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default" type="button" data-uk-close></button>
            <div class="uk-modal-header">
                <h2 class="uk-modal-title uk-text-lead coolvetica-rg">Crie sua conta</h2>
            </div>
            <div class="uk-modal-body">
                <!-- cyw.com/users/signup -->
                <form action="/users/signup" method="post" id="signup" class="uk-form-stacked uk-margin-large">

                    <div class="uk-child-width-expand@m uk-grid" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="Name">Nome</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="Name" name="Name" type="text" placeholder="Roberto" data-validation="required">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="Lastname">Sobrenome</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="Lastname" name="Lastname" type="text" placeholder="Silva" data-validation="required">
                            </div>
                        </div>

                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="EMail">Email</label>
                        <div class="uk-form-controls">
                            <input class="uk-input" id="EMail" name="EMail" type="email" placeholder="Email@email.com" data-validation="required email">
                        </div>
                    </div>

                    <div class="uk-child-width-expand@s uk-grid" data-uk-grid>
                        <div>
                            <label class="uk-form-label" for="Username">Nome de usuário</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="Username" name="Username" type="text" placeholder="XXXXXXX"
                                    data-validation="required length alphanumeric" data-validation-length="3-12" 
                                    data-validation-error-msg="Nome de usuário deve ser um valor alfanumericos, de tamanho 3-12 caracteres">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="password_confirmation">Senha</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="password_confirmation" name="password_confirmation" 
                                    type="password" placeholder="********" data-validation="required strength" data-validation-strength="2">
                            </div>
                        </div>

                        <div>
                            <label class="uk-form-label" for="password">Confirme a senha</label>
                            <div class="uk-form-controls">
                                <input class="uk-input" id="password" name="password" type="password" placeholder="********" data-validation="required confirmation">
                            </div>
                        </div>

                    </div>

                </form>
            </div>
            <div class="uk-modal-footer uk-text-left uk-flex">
                <button class="uk-button uk-button-default uk-modal-close uk-width-1-2@m" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary uk-width-1-2@m" type="button">Criar conta</button>
            </div>
        </div>
    </div>
    <!-- end create account modal-->